@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body
{
  margin:0;
  padding:0;
  background: #222831;
  background-size:cover;
  font-family: 'Roboto', sans-serif;
}
/* HEADER */
header{
  width: 100%;
  height: auto;
  color: white;
  background: #f05454;
}
header .headerContainer
{
  font-size: 20px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

/* CALCULADORA IMC*/
.insideCalculadora{
  border-radius: 25px;
  background: #f05454;
  transition: .5s;
  width: 80%;
  height: 300px;

  display: flex;

  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;

}
.ingresarTexto{
  margin-top: 2%;
  margin-left: 2%;
  flex: 1;
}
.boton{
  width: 20%;
  margin-left: 40%;
}
.button {
  background-color: #222831;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 24px;
}
.results {
  flex: 2;
  margin-top: 2%;
  margin-left: 2%;
}
.extraInfo{
  margin-top: 1%;
  margin-left: 2%;
}

/* FOOTER */
footer {
  background-color: #f05454;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}
#social-wrapper {text-align: center;}
.social-wrapper {text-align: center;}
.social-wrapper ul li { display: inline; margin: 0 5px;}
.linkedin-icon,
.github-icon
{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60);
  border-radius: 25px;
  transition: .5s;
}
.linkedin-icon:hover,
.github-icon:hover { opacity: 1.0; filter: alpha(opacity=100); background: rgba(0, 0, 0, 0.432); }
